@import "tailwindcss";

  body {
    font-family: var(--font-ibm-plex);
    overflow-x: hidden;
  }

  /* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #D3D3D3;
  border-radius: 10px;
  transition: background 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D3D3D3;
  /* color: ; */
}

/* =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
  font-weight: 600;
  color: #384262;
}